$star-wars-yellow: rgba(255, 232, 31, 1);
$star-wars-gray: rgba(50, 56, 62, 1);
$star-wars-gray-opacity: rgba(50, 56, 62, 0.8);
$star-wars-gray-2: rgba(39, 43, 48, 1);
$star-wars-gray-2-opacity: rgba(39, 43, 48, 0.75);
$star-wars-gray-3: rgba(28, 30, 34, 1);
$star-wars-white: rgba(238, 238, 238, 1);
